body {
    background-image: url("../image/fondo.jpg")
}

#logo {
    position: absolute;
    top: 0px;
    width: 200px;
    height: 200px;
    right: 40px;
}

#portada {
    padding-top: 40px;
    width: 1325px;
    height: 550px;
    margin-left: 40px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(150, 253, 103);
    width: 1200px;
    margin-left: 40px;
    margin-right: 40px;
}

h2 {
    text-align: center;
    font-size: 40px;
    background-color: rgb(150, 253, 103);
    margin-left: 40px;
    margin-right: 40px;
}

h3 {
    font-size: 20px;
}

.box {
    width: 100%;
}

nav ul {
    list-style: none;
    top: 20px;
}

nav {
    position: absolute;
    top: 60px;
    left: 400px;
}

nav li {
    font-size: 19px;
    display: inline;
}

nav li a {
    text-decoration: none;
    color: rgb(34, 14, 143);
    background-color: rgb(255, 255, 255);
    border: rgb(0, 0, 0) solid 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

main {
    background-color: rgb(171, 219, 175);
    text-align: center;
    padding-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.selection {
    background-color: rgb(63, 148, 84);
}

p {
    font-size: 18px;
}

#lista {
    background-color: rgb(171, 219, 175);
    text-align: left;
}

.lista {
    list-style-type: square;
}

ul {
    list-style-type: circle;
}

ol ul {
    list-style-type: lower-latin;
}

#lista h3 {
    margin-top: 30px;
    margin-left: 10px;
}

.li-separado {
    margin-top: 25px;
}

table {
    height: 400px;
    width: 800px;
    background-color: rgb(171, 219, 175);
    text-align: center;
    margin-left: 40px;
    font: arial;
}

tr {
    padding-left: 5px;
}

.tabla {
    width: 900px;
    margin-right: 400px;
    margin-left: 275px;
    background-color: rgb(171, 219, 175);
    text-align: left;
    padding-top: 5px;
}

section div {
    display: inline-flex;
}

div p {
    padding-right: 226px;
}

#formulario {
    background-color: rgb(171, 219, 175);
    top: 750px;
    width: 900px;
    height: 800px;
    margin-top: -20px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 30px;
    left: 240px;
}

#portada2 {
    width: 900px;
    height: 500px;
    margin-top: 40px;
    margin-left: 250px;
}

iframe {
    width: 400px;
    height: 300px;
}